# Data Exploration

This notebook explores data prior to the 2015 tree census

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import geopandas as gp

%matplotlib inline
plt.style.use('fivethirtyeight')

In [2]:
#Data reading
trees95 = pd.read_csv('../data/1995_Street_Tree_Census.csv') 
trees05 = pd.read_csv('../data/2005_Street_Tree_Census.csv')
trees15 = pd.read_csv('../data/2015_Street_Tree_Census_-_Tree_Data.csv')

/Library/Python/2.7/site-packages/IPython/core/interactiveshell.py:2902: DtypeWarning: Columns (20,21) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)
/Library/Python/2.7/site-packages/IPython/core/interactiveshell.py:2902: DtypeWarning: Columns (36) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [3]:
trees95.head()

,RecordId,Address,House_Number,Street,Zip_Original,CB_Original,Site,Species,Diameter,Condition,...,Latitude,CB_New,Zip_New,CensusTract_2010,CensusBlock_2010,NTA_2010,SegmentID,Spc_Common,Spc_Latin,Location
0,1,245 E 17 ST,245,E 17 ST,10003,106,Front,PLAC,8,Unknown,...,40.734551,106,10003,48,2000,MN21,33134,LONDON PLANETREE,PLATANUS ACERIFOLIA,"(40.734551, -73.984235)"
1,2,80 N MOORE ST,80,N MOORE ST,10013,101,Side,ACPL,7,Good,...,40.720159,101,10013,39,2001,MN24,31567,"MAPLE, NORWAY",ACER PLATANOIDES,"(40.720159, -74.010532)"
2,3,80 N MOORE ST,80,N MOORE ST,10013,101,Side,ACPL,6,Good,...,40.720159,101,10013,39,2001,MN24,31567,"MAPLE, NORWAY",ACER PLATANOIDES,"(40.720159, -74.010532)"
3,4,80 N MOORE ST,80,N MOORE ST,10013,101,Side,ACPL,7,Excellent,...,40.720159,101,10013,39,2001,MN24,31567,"MAPLE, NORWAY",ACER PLATANOIDES,"(40.720159, -74.010532)"
4,5,80 N MOORE ST,80,N MOORE ST,10013,101,Side,ACPL,6,Good,...,40.720159,101,10013,39,2001,MN24,31567,"MAPLE, NORWAY",ACER PLATANOIDES,"(40.720159, -74.010532)"

In [3]:
trees05.head()

,OBJECTID,cen_year,tree_dbh,tree_loc,pit_type,soil_lvl,status,spc_latin,spc_common,vert_other,...,cncldist,st_assem,st_senate,nta,nta_name,boro_ct,x_sp,y_sp,objectid_1,Location 1
0,592373,2005,6,Front,Sidewalk Pit,Level,Good,PYRUS CALLERYANA,"PEAR, CALLERY",No,...,44,48,17,BK88,Borough Park,3021600.0,984182,169769,0,"1139 57 STREET\nNew York\n(40.632653207600001,..."
1,592374,2005,6,Across,Sidewalk Pit,Level,Good,PLATANUS ACERIFOLIA,LONDON PLANETREE,No,...,46,59,19,BK45,Georgetown-Marine Park-Bergen Beach-Mill Basin,3070600.0,1011608,165205,1,2220 BERGEN AVENUE\nNew York\n(40.620083746799...
2,592375,2005,13,Front,Continuous Pit,Level,Good,ACER PLATANOIDES CRIMSON KING,"MAPLE, NORWAY-CR KNG",No,...,46,59,19,BK45,Georgetown-Marine Park-Bergen Beach-Mill Basin,3070600.0,1012259,164445,2,2360 BERGEN AVENUE\nNew York\n(40.617995671700...
3,592376,2005,13,Across,Sidewalk Pit,Level,Good,PLATANUS ACERIFOLIA,LONDON PLANETREE,No,...,46,59,19,BK45,Georgetown-Marine Park-Bergen Beach-Mill Basin,3070600.0,1011733,165063,3,2254 BERGEN AVENUE\nNew York\n(40.619693599599...
4,592377,2005,15,Across,Sidewalk Pit,Level,Good,PLATANUS ACERIFOLIA,LONDON PLANETREE,No,...,46,59,19,BK45,Georgetown-Marine Park-Bergen Beach-Mill Basin,3070600.0,1012160,164564,4,2332 BERGEN AVENUE\nNew York\n(40.618322614400...

In [4]:
trees15.head()

,FID,tree_id,block_id,created_at,tree_dbh,stump_diam,curb_loc,status,health,spc_latin,...,st_assem,st_senate,nta,nta_name,boro_ct,state,latitude,longitude,x_sp,y_sp
0,0,101233,216486,07/29/2015,4,0,OnCurb,Alive,Good,Quercus bicolor,...,50,18,BK76,Greenpoint,3056300,New York,40.735813,-73.958486,995754.8999,207355.7530
1,1,101234,216486,07/29/2015,4,0,OnCurb,Alive,Good,Quercus bicolor,...,50,18,BK76,Greenpoint,3056300,New York,40.735969,-73.958512,995747.6368,207412.7922
2,2,101235,216486,07/29/2015,4,0,OnCurb,Alive,Good,Quercus bicolor,...,50,18,BK76,Greenpoint,3056300,New York,40.736050,-73.958525,995743.8851,207442.2541
3,3,101400,216291,07/29/2015,15,0,OnCurb,Alive,Good,Gleditsia triacanthos var. inermis,...,50,18,BK76,Greenpoint,3056300,New York,40.735464,-73.958851,995653.7774,207228.7683
4,4,101401,216291,07/29/2015,18,0,OnCurb,Alive,Good,Gleditsia triacanthos var. inermis,...,50,18,BK76,Greenpoint,3056300,New York,40.735452,-73.958986,995616.2581,207224.1693

In [5]:
trees05.columns

Index([u'OBJECTID', u'cen_year', u'tree_dbh', u'tree_loc', u'pit_type',
       u'soil_lvl', u'status', u'spc_latin', u'spc_common', u'vert_other',
       u'vert_pgrd', u'vert_tgrd', u'vert_wall', u'horz_blck', u'horz_grate',
       u'horz_plant', u'horz_other', u'sidw_crack', u'sidw_raise',
       u'wire_htap', u'wire_prime', u'wire_2nd', u'wire_other', u'inf_canopy',
       u'inf_guard', u'inf_wires', u'inf_paving', u'inf_outlet', u'inf_shoes',
       u'inf_lights', u'inf_other', u'trunk_dmg', u'zipcode', u'zip_city',
       u'cb_num', u'borocode', u'boroname', u'cncldist', u'st_assem',
       u'st_senate', u'nta', u'nta_name', u'boro_ct', u'x_sp', u'y_sp',
       u'objectid_1', u'Location 1'],
      dtype='object')